/* Style for js alert function */
.block_es6_marked {
    position:relative;
    display:block;
    padding: 0.75rem 1.25rem;
    color:#fff;
    background-color:#37308f;
    border:1px solid #ccc;
}
.block_es6_unmarked {
    position:relative;
    display:block;
    padding: 0.75rem 1.25rem;
    background-color:#eed9b9;
    border:1px solid #ccc;
}
.block_es6_header {
    color:#37308f;
}