{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see http://www.gnu.org/licenses/.
}}

{{!
    @template block_modals/course_users

    This template renders the content for the block.

    Classes required for JS:
    * user_form

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * headerclass a class defined in styles.css - string
    * header a block title - string
    * studentlist - an array of student names
    * student a user name - string

    Example context (json):
    {
        "headerclass": "block_header_class",
        "header": "Block title",
        "studentlist": "[name1, name2, ...]",
        "student": "User name"
    }
}}
{{! student list }}
<div class="container">
    <h3 class="{{headerclass}}">{{header}}</h3>
    <div>
        <ul class="list-group">
            {{#studentlist}}
                <li class="block_modals_unmarked">{{.}}</li>
            {{/studentlist}}
        </ul>
    </div>
    {{! the modal }}
    <div class="card">
    <div id="block_modals_myModal" class="block_modals_modal">
        <div class="block_modals_modal_content">
            {{! A close button }}
            <span class="block_modals_close"><i class="fa fa-times"></i></span>
            <div class="block_model_details">
                <p>{{#str}} label, block_modals {{/str}}</p>
            </div>
            <div class="block_model_form">
                <div class="col-xs-4">
                    <label for="ex3">{{#str}} comment, block_modals {{/str}}</label>
                    <input class="form-control" id="ex3" type="text">
                </div>
            </div>
        </div>
    </div>
    {{#js}}
        require(['block_modals/user_info'],
            function(module) {
                module.get_info();
            }
        );
    {{/js}}
</div>