{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see http://www.gnu.org/licenses/.
}}

{{!
    @template block_es6/course_users

    This template renders the content for the block.

    Classes required for JS:
    * user_form

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * headerclass a class defined in styles.css - string
    * header a block title - string
    * studentlist - an array of student names
    * name a user name - string

    Example context (json):
    {
        "headerclass": "block_header_class",
        "header": "Block title",
        "studentlist": "[name1, name2, ...]",
        "name": "User name"
    }
}}

<div class="container">
    <h3 class="{{headerclass}}">{{header}}</h3>
    <div>
        <ul class="list-group">
            {{#studentlist}}
                <li class="block_es6_unmarked">{{.}}</li>
            {{/studentlist}}
        </ul>
    </div>
    {{#js}}
    require(['block_es6/user_info'],
            function(module) {
                module.get_info();
            }
    );
    {{/js}}
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{#str}}modal_heading, block_es6{{/str}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          {{#str}}modal_body, block_es6{{/str}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          {{#str}}modal_close, block_es6{{/str}}
        </button>
      </div>

    </div>
  </div>
</div>